<div class="container-form-card">
    <p>Hey kamu!,</p>
    <h2>Mau liburan kemana?</h2>

    <div class="container-list">
        <div class="item">
            <p>Departure</p>
            <div>
                <img src="../../assets/location-icon.png" alt="location">
                <p>Mau dijemput dimana?</p>
            </div>
        </div>
        <div class="item">
            <p>Destination</p>
            <div>
                <img src="../../assets/location-icon.png" alt="location">
                <p>Mau dianter kemana?</p>
            </div>
        </div>
        <div class="item">
            <p>Jenis bus</p>
            <div>
                <img src="../../assets/bus-icon.png" alt="location">
                <p>Pilih jenis bus kamu</p>
            </div>
        </div>
    </div>

    <div class="container-btn">
        <button>Cari Bus</button>
    </div>
</div>