<div class="container">
    <div class="container-banner">
        <div class="prompt">
            <div>
                <h2>Cara Mudah Sewa Bus Pariwisata</h2>
                <p>Booking bus untuk segala keperluan berpergian anda seperti perjalanan religi, kunjungan industri sampai rekreasi bersama orang-orang tercinta</p>
            </div>
        </div>
        <div class="container-hero-image">
            <img src="../../assets/hero-image.png" alt="hero image">
        </div>
    </div>
</div>

