<footer>
    <span>© Design by <b>Innolabs Studio</b></span>
    <div class="container-nav">
        <nav>
            <a href="#">Booking</a>
            <a href="#">List Bus</a>
            <a href="#">Blog</a>
            <a href="#">Tentang Kami</a>
            <a href="#">Sign In</a>
            <a href="#">Sign Up</a>
        </nav>
    </div>
    <div class="container-icon">
        <a href="#">
            <img src="../../assets/instagram-icon.png" alt="instagram">
        </a>
        <a href="#">
            <img src="../../assets/basket-icon.png" alt="basket">
        </a>
        <a href="#">
            <img src="../../assets/Be-icon.png" alt="Be">
        </a>
    </div>
</footer>