@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-us{
    font-family: 'Roboto', sans-serif;
    padding: 67px 150px;
}

.about-us p{
    font-size: 14px;
    color: #3BC5E9;
    margin-bottom: 18px;
}

.about-us h2{
    font-size: 48px;
    margin-bottom: 43px;
}

.about-us .container-card-about-us{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 420px){
    .about-us{
        padding: 20px 30px;
    }

    .about-us p{
        font-size: 12px;
    }

    .about-us h2{
        font-size: 24px;
    }

    .about-us .container-card-about-us{
        flex-direction: column;
        align-items: center;
    }
}
